@import "../../style/const.scss";
@import "../../style/mixin.scss";

.navbar { 
    @include flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $color__default;
    border-radius: 10px;
    margin: 5px;
    &__content{
        padding-left: 10px;
    }
    &__items {
        @include flex;
        font-weight: bold;
        cursor: pointer;
    }
    &__item{
        border-left:1px solid $color__default;
        padding: 10px;
    }
}
