@import '../../style/const.scss';

.sidebar {
    border: 1px solid $color__default;
    max-height: 350px;
    min-width: 250px;
    &__item {
        padding: 10px;
        border-bottom: 1px solid $color__default;
        cursor: pointer;
        font-weight: bold;
        &:hover {
            background-color: $color__default;
        }
    }
    &__search {
        padding: 10px;
        border: 1px solid $color__default;
        width: 200px;
    }
    &__input {
        text-align: center;
        margin-top: 10px;
    }
}
