$color__default: #ddd;
$color__default-white: #fff;
$color__dots: black;
$color__booksCard_button: #03c03c;
$hover__bookcCard_button:  #038c2c;
$color__button-cart-remove: #dc3545;
$color__border_cart: #ddd;
$color__alert-border: #8a8a8a;
$color__alert-error: #D14229;