@import '../../style/mixin.scss';


.registration{
    @include form__style-default;
    &__wrapper{
        @include wrapper__register-form;
    }
    &__content-title{
        text-align: center;
    }
    &__form-link{
        @include form__link-style;
        margin-top: 10px;
    }
    &__content{
        width: 100%;
        height: 100%;
        @include position__absolute-form;
        @include  display__flex-center;
    }
    &__video-book{
        @include position__absolute-form;
        width: 100%;
        height: auto;
    }
}
.register::before{
    @include background__dark;
}