@import '../../../style/mixin.scss';
.register{
    height: 100vh;
    background-color: #3498DB;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper{
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
    }
    &__content-title{
        text-align: center;
    }
    &__form-link{
        @include form__link-style;
        margin-top: 10px;
    }
}