@import "../../../style/const.scss";

.card {
    margin: 0 25px 15px;
    cursor: pointer;
    &__wrapper {
        max-width: 250px;
        height: auto;
        margin: 0 auto;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    &__content-image {
        border-radius: 15px 15px 0 0;
        min-width: 250px;
        max-height: 300px;
        border-bottom: 1px solid $color__default;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
        &:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }
    }
}
.footer__card {
    word-break: break-all;
    padding: 10px;
    &-title {
        font-weight: bold;
        padding-bottom: 10px;
    }
    &-author {
        padding-bottom: 10px;
    }
    &-price {
        border-top: 1px solid $color__default;
    }
    &-ruble {
        padding-right: 10px;
        font-size: 15px;
    }
    &-button {
        margin-bottom: 5px;
        padding: 7px;
        width: 100%;
        color: $color__default-white;
        background-color: $color__booksCard_button;
        border: none;
        cursor: pointer;
        &:hover {
            background-color: $hover__bookcCard_button;
        }
    }
}
